@import './base.css';

#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #2563EB;
  transition: color 0.2s ease, background 0.2s ease;
}
a:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  #app {
    padding: 1.2rem;
  }
}
